<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		{% load settings %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% name %}: {{ title }}</title>
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/reset/reset-min.css">
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/base/base-min.css">
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1>{% name %}</h1>
				<h2>{{ title }}</h2>
				<ul>
				    <li><a href="{% url home %}">Home</a></li>
				    <li><a href="{% url restaurants %}">Restaurants</a></li>
				</ul>
			</div>
			<div id="content">
				{% block content %}{% endblock %}
			</div>
			<div id="footer">
				Powered by Django
			</div>
		</div>
	</body>
</html>